@font-face {
	font-family: tanki_font;
	src: url(chrome-extension://__MSG_@@extension_id__/fonts/MyriadPro.woff);
}

.bottom_bar {
	position: absolute;
	top: 105px;
	left: 45px;
}

.bottom_bar_content {
	margin-top: 130px;
	margin-bottom: 50px;
	margin-left: 60px;
	margin-right: 60px;
}

.social_media_login_text {
	margin-bottom: 5px;
	margin-left: 17px;
}

.google_button {
	cursor: pointer;
	float: left;
	width: 70px;
	height: 30px;
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/login/social_media_buttons/releaseBitmapGoogle.png);
}

.google_button:hover {
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/login/social_media_buttons/hoveredBitmapGoogle.png);
}

.google_button:active {
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/login/social_media_buttons/pressedBitmapGoogle.png);
}

.facebook_button {
	cursor: pointer;
	margin-left: 5px;
	float: left;
	width: 70px;
	height: 30px;
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/login/social_media_buttons/releaseBitmapFB.png);
}

.facebook_button:hover {
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/login/social_media_buttons/hoveredBitmapFB.png);
}

.facebook_button:active {
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/login/social_media_buttons/pressedBitmapFB.png);
}
